@font-face {
    font-family: "text";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "subtitle";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "title";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: 800;
}