@use "./var.scss";

.container__main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(1, min-content);
    box-sizing: border-box;
    margin: auto;
    flex-grow: 1;
    max-width: 1200px;
    min-height: 92dvh;
    background-color: #fff;
    h2{
        font-family: "title";
        font-size: 2.5rem;
        margin: 30px auto;
        grid-column: 1 /span 2;
    }
}

// ----------- CART CONTAINER ------------------

.cart__container{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}
.cart__item{
    border-radius: 10px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 12px;
    .cart__item__name{
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: "title";
        p{
            font-size: clamp(.7rem, .9vw, 1.2rem);
        }
        img{
            width: 50px;
        }
    }
    .cart__item__quantity{
        font-family: "subtitle";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
        .button__quantity{
            padding: 4px 7px;
            background-color: var.$bg-color;
            border-radius: 15px;
            .quantity{
                margin: 0 6px;
                color: #fff;
            }
            button{
                background-color: #fff;
                border: none;
                border-radius: 10px;
                font-size: 1rem;
                &:hover{
                    opacity: .74;
                }
            }
        }
    }
    .cart__item__price{
        font-family: "subtitle";
        font-size: 1rem;
    }
    .cart__item__delete{
        button{
            padding: 4px 5px;
            border: none;
            border-radius: 5px;
            color: #fff;
            background-color: #e11;
            &:hover{
                opacity: .74;
            }
        }
    }

}


// ----------- SUMMARY CONTAINER ------------------
.summary{
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 25px;
    background-color: #eee;
    border-radius: 10px;
    position: sticky;
    top: 0;
    .summary__title{
        font-family: "subtitle";
        font-size: 1.2rem;
        border-bottom: 1px solid #000;
    }
    .summary__total{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1.3rem;
        font-family: "text";
    }
    .summary__buttons{
        display: flex;
        gap: 30px;
        :hover{
            opacity: .74;
        }
        button{
            font-family: "text";
            padding: 10px 13px;
            border-radius: 7px;
        }
        :first-child{
            border: none;
            color: #fff;
            background-color: rgb(145, 0, 0);
        }
        :nth-child(2){
            border: none;
            color: #fff;
            background-color: rgb(12, 165, 12);
        }
    }
}